{% extends 'Base.html' %}

  {% block body %}
     <div class="jumbotron w-25 m-5 mx-auto" style="margin-top: 20px;">
     <h2 class="">Login</h2>


               {% if messages %}
                   {% for msg in messages %}
                       <div class="alert alert-{{ msg.tags }}" role="alert">
                       {{ msg }}
                       </div>
                   {% endfor %}



               {% endif %}

         <form action="{% url 'blogapp:login' %}" method="post">{% csrf_token %}
             <div class="form-group">
                 <label for="">Username</label>
                 <input type="text" class="form-control" name="username">
             </div>

               <div class="form-group">
                 <label for="">Password</label>
                 <input type="password" class="form-control" name="password">
             </div>

             <div class="form-group">
                 <input type="submit" value="Login" class="btn btn-primary w-100" />
                 <br><br>
                 <h5>Create an account <a href="{% url 'blogapp:signup' %}">Sign Up</a></h5>
             </div>


         </form>
      </div>
     {% endblock body %}
